body{
	width: 80vw;
	float: left;
	margin: 0;

}
@media only screen and (max-width: 1440px){
p{
	float: center;
	width: 55vw;
	padding-left: 23vw;
}
.list{
	float: center;
	width: 500px;
	padding-left: 23vw;
	font-size: 20px;
	
}
.header{
	max-width: 100vw;
}
li{
	padding-bottom: 25px;
	font-size: 35px;
}
.bio{
	padding-left: 23vw;
}

.top{
	width: 100vw;
	height: auto;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	float: left;
	padding-bottom: 25px;
}
.content{
	padding-top: 
}
.about{
	float: left;
	padding: none;
}
}
