body{
	width: 100vw;
	float: left;
	margin: 0;
	padding-right: 0;
	overflow-x: hidden;
}
@media only screen and (max-width: 1440px){
p{
	float: center;
	width: 55vw;
	padding-left: 23vw;
	font-family: lucida fax;
}
img{
	margin: 0;
}
.list{
	float: center;
	width: 50vw;
	padding-left: 23vw;
	font-size: 20px;
	
}
.header{
	max-width: 100vw;
	margin: 0;
}
li{
	padding-bottom: 55px;
	font-size: 35px;
	font-style: italic;
	text-align: left;
	list-style: none;
}
.bio{
	padding-left: 23vw;
}

.top{
	width: 100vw;
	height: auto;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	float: left;
	padding-bottom: 25px;
}
a{
	text-decoration: none;
}

.about{
	float: center;
}
.content{
	margin: none;
}
h1{
	font-weight: normal;
}
.band{
	max-width: 80vw;
	padding-top: 25px;
	float: center;

}
