 body{
 	margin: 0;
 	font-size: 28;
 	overflow: hidden;
 }
 .moveITR {
    right: 0;
}
.moveITL {
    left: 0;
}
.typeMove {
    padding-top: 80vh;
    padding-right: 50vw;
}
 .blue{
 	padding-top: 300px;
 	margin: 0;
 	top: 0;
 	left: 0;
 	background-color: cyan;
 	text-align: center;
 	float: center;
 	width: 100vw;
 	height: 100vh;
 }
 .ow{
 	position: absolute;
 	padding-top: 300px;
 	margin: 0;
 	top: 0;
 	right: 100%;
 	background-color: yellow;
 	text-align: center;
 	float: center;
 	width: 100vw;
 	height: 100vh;
 	transition: all 2s ease;
 }
 .batman{
 	position: absolute;
 	padding-top: 300px;
 	margin: 0;
 	top: 0;
 	right: 100%;
 	background-color: black;
 	text-align: center;
 	float: center;
 	width: 100vw;
 	height: 100vh;
 	transition: all 2s ease;
 }
 .skyrim{
 	position: absolute;
 	padding-top: 300px;
 	margin: 0;
 	top: 0;
 	right: 100%;
 	background-color: black;
 	text-decoration: white;
 	text-align: center;
 	float: center;
 	width: 100vw;
 	height: 100vh;
 	transition: all 2s ease;
 }
 .bros{
 	position: absolute;
 	padding-top: 300px;
 	margin: 0;
 	top: 0;
 	right: 100%;
 	background-color: orange;
 	text-align: center;
 	float: center;
 	width: 100vw;
 	height: 100vh;
 	transition: all 2s ease;
 }
 .Halo{
 	position: absolute;
 	padding-top: 300px;
 	margin: 0;
 	top: 0;
 	right: 100%;
 	background-color: grey;
 	text-align: center;
 	float: center;
 	width: 100vw;
 	height: 100vh;
 	transition: all 2s ease;
 }
 .jqClick, .jqHover {
    cursor: pointer;
}
.moveITL{
	right: 0;
}