body{
	background-color: orange;
}
@keyframes a{
	0%{color: #7B68EE;}
	50%{color: #FFDEAD;}
	100%{color: #7B68EE;}
}
@keyframes l{
	0%{color: #7B68EE;}
	50%{color: #DC143C;}
	100%{color: #7B68EE;}
}
p{
	font-family: 'Fjord One', serif;;
	font-size: 50px;
	text-align: center;
	padding-top: 20%;
}
div{
	font-family: 'Fjord One', serif;
	font-size: 50px;
	animation-name: div;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.author{
	font-family: 'Fjord One', serif;
	font-size: 25px;
	text-align: center;
}
a{
	color: blue;
	text-decoration: none;
	animation-name: a;
	animation-duration: 3.6s;
	animation-iteration-count: infinite;
}
l{
	color:red;
	animation-name: l;
	animation-duration: 3.6s;
	animation-iteration-count: infinite;
}