body{
	background-color: orange;
}
@keyframes a{
	0%{color: blue;}
	50%{color: green;}
	100%{color: blue;}
}
@keyframes l{
	0%{color: blue;}
	50%{color: red;}
	100%{color: blue;}
}
p{
	font-family: 'Fjord One', serif;;
	font-size: 50px;
	text-align: center;
	padding-top: 25%;
}
div{
	font-family: 'Fjord One', serif;
	font-size: 50px;
	animation-name: div;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.author{
	font-family: 'Fjord One', serif;
	font-size: 30px;
	text-align: center;
}
a{
	color: blue;
	text-decoration: none;
	animation-name: a;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
l{
	color:red;
	animation-name: l;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}