*{
	position: relative;
	text-align: center;
}
h1{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	padding-top: 50px;
}
h3{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}
h6{
	font-family: 'Noto Serif JP', sans-serif;
	text-align: center;
}
body{
	background-color: #2ECC71;
}
hr{
	border-style: dotted;
	width: 50%;
}
.subpoem{
	font-family: 'Charmonman', cursive;
	padding-top: 50px;
	padding-bottom: 50px;
}
.poem{
	padding-left: 0px;
}
.poems{
	padding-left: 0px;
}
.castle{
	padding-left: 0px;
}
p{
	font-family: 'Oxygen', sans-serif;
	padding-left: 300px;
	padding-right: 300px;
	text-indent: 35px;
	margin-top: 5px;
	margin-bottom: 0;
	line-height: 25px;
	letter-spacing: .5px;
}