
#container{
	width: 100vw;
	background-color: tan;
	margin: 0;
	overflow: hidden;
}
body{
	margin: 0;
	width: 100vw;
}
img{
	border: 3px solid black;
}
.shield{
	border: none;
}
a{
	font-family: candara;
	font-style: italic;
	text-decoration: underline 1px;
	color: #c43127;
}
@media only screen and (max-width: 1440px){
.decal{
	position: relative;
	width: 100vw;
	float: left;
	border-style: none;
	max-width: none;
	margin: 0;
	background-size: contain;
	padding-left: none;
}
.header{
	position: absolute;
    top: -70px;
    left: 80px;
	font-size: 10vw;
	font-family: Felix Titling;
	text-align: center;
}
.subhead{
	font-size: 3vw;
	text-decoration: underline;
	text-decoration-style: solid 5px;
	font-family: goudy old style;
}
.sub{
	font-size: 1.5vw;
	font-weight: bold;
	font-family: goudy old style;
}
p{
	position: relative;
	padding-left: 7vw;
	padding-right: 15px;
	width: 500px;
	font-family: candara;
	font-size: 20px;
}
img{
	display: block;
	margin-left: auto;
	margin-right: 10vw;
	float: right;
	max-width: 30vw;
	max-height: auto;
	background-color: none;
}
.shield{
	background-color: ;
}
.subhead{
	padding-left: 7vw;
}
.sub{
	padding-left: 7vw;
}
}


@media only screen and (max-width: 1020px){
	.header{
	position: absolute;
    top: -60px;
    left: 80px;
	font-size: 10vw;
	font-family: Felix Titling;
	text-align: center;
}
.subhead{
	font-size: 30px;
	text-decoration: underline;
	text-decoration-style: solid 5px;
	font-family: goudy old style;
	
}
.sub{
	font-size: 23px;
	font-weight: bold;
	font-family: goudy old style;
}
p{
	position: relative;
	padding-left: 5vw;
	padding-right: 15px;
	width: 500px;
	font-family: candara;
	font-size: 20px;
}
img{
	display: block;
	margin-right: 5vw;
	float: right;
	max-width: 30vw;
	max-height: 20vw ;
}
}


@media only screen and (max-width: 768px){
.header{
	position: absolute;
    top: -20px;
    left: 150px;
	font-size: 8vw;
	font-family: Felix Titling;
	text-align: center;
	float: center;
	
}
.subhead{
	font-size: 35px;
	text-decoration: underline;
	text-decoration-style: solid 5px;
	font-family: goudy old style;
}
.sub{
	font-size: 20px;
	font-weight: bold;
	font-family: goudy old style;
}
p{
	position: relative;
	padding-left: 5vw;
	
	max-width: 90vw;
	min-width: 90vw;
	font-family: candara;
	font-size: 15px;
	float: center;
}
img{

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2vw;
	margin-bottom: 2vw;
	max-width: 300px;
	max-height: auto;
	text-overflow: none;
	float: none;
	min-width: auto;
	min-height: auto;
}
.decal{
	top: 0;
	left: 0;
	position: relative;
	width: 100vw;
	float: left;
	border-style: none;
	max-width: none;
	min-width: none;
	margin: 0;
	background-size: contain;
	padding-left: 0px;
	padding-top: none;
	padding-bottom: none;
}
.shield{
	
}
.subhead{
	padding-left: 5vw;
}
.sub{
	padding-left: 5vw;
}
}


@media only screen and (max-width: 320px){
.header{
	position: absolute;
    top: -20px;
    left: 120px;
	font-size: 8vw;
	font-family: Felix Titling;
	text-align: center;
	float: center;
	
}
.subhead{
	font-size: 30px;
	text-decoration: underline;
	text-decoration-style: solid 5px;
	font-family: goudy old style;
}
.sub{
	font-size: 17px;
	font-weight: bold;
	font-family: goudy old style;
}
p{
	position: relative;
	padding-left: 1vw;
	
	max-width: 90vw;
	min-width: 90vw;
	font-family: candara;
	font-size: 15px;
	float: center;
}
img{
	position: relative;
	padding-left: 5vw;
	
	max-width: 90vw;
	min-width: 90vw;
	font-family: candara;
	font-size: 15px;
	float: center;
}
.decal{
	position: relative;
	width: 100vw;
	float: left;
	border-style: none;
	max-width: none;
	min-width: none;
	margin: 0;
	background-size: contain;
	padding-left: 0px;
	padding-top: none;
	padding-bottom: none;
}
.subhead{
	padding-left: 0vw;
}
.sub{
	padding-left: 0vw;
}
}



