
#container{
	width: 100vw;
	background-color: tan;
	margin: 0;
}
body{
	margin: 0;
	width: 100vw;
}
@media only screen and (max-width: 1440px){
.decal{
	position: relative;
	width: 100vw;
	float: left;
	border-style: none;
	max-width: none;
	margin: 0;
	background-size: contain;
	padding-left: none;
}
.header{
	position: absolute;
    top: -120px;
    left: 10px;
	font-size: 10vw;
	font-family: Felix Titling;
	text-align: center;
}
.subhead{
	font-size: 3vw;
	text-decoration: underline;
	text-decoration-style: solid 5px;
	font-family: goudy old style;
}
.sub{
	font-size: 1.5vw;
	font-weight: bold;
	font-family: goudy old style;
}
p{
	position: relative;
	padding-left: 7vw;
	padding-right: 15px;
	width: 500px;
	font-family: candara;
	font-size: 20px;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15vw;
	float: right;
	max-width: 30vw;
	max-height: auto;
	background-color: none;
}
.shield{
	background-color: ;
}
.subhead{
	padding-left: 7vw;
}
.sub{
	padding-left: 7vw;
}
}


@media only screen and (max-width: 1020px){
	.header{
	position: absolute;
    top: -50px;
    left: 10px;
	font-size: 10vw;
	font-family: Felix Titling;
	text-align: center;
}
.subhead{
	font-size: 3vw;
	text-decoration: underline;
	text-decoration-style: solid 5px;
	font-family: goudy old style;
	margin: 0;
}
.sub{
	font-size: 1.5vw;
	font-weight: bold;
	font-family: goudy old style;
	margin: 0;
}
p{
	position: relative;
	padding-left: 5vw;
	padding-right: 15px;
	width: 500px;
	font-family: candara;
	font-size: 20px;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-right: 5vw;
	padding-top: 5px;
	padding-bottom: 5px;
	float: right;
	max-width: 30vw;
	max-height: 30vw ;
}
.subhead{
	padding-left: 7vw;
}
.sub{
	padding-left: 7vw;
}
}


@media only screen and (max-width: 768px){
.header{
	position: relative;
	font-size: 10vw;
	font-family: Felix Titling;
	float: center;
	top: -60px;
}
.subhead{
	font-size: 35px;
	text-decoration: underline;
	text-decoration-style: solid 5px;
	font-family: goudy old style;
}
.sub{
	font-size: 20px;
	font-weight: bold;
	font-family: goudy old style;
}
p{
	position: relative;
	padding-left: 5vw;
	
	max-width: 90vw;
	min-width: 90vw;
	font-family: candara;
	font-size: 15px;
	float: center;
}
img{

	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10vw;
	max-width: 300px;
	max-height: auto;
	text-overflow: none;
	float: none;
	min-width: auto;
	min-height: auto;
}
.decal{
	position: relative;
	width: 99vw;
	float: left;
	border-style: none;
	max-width: none;
	min-width: none;
	margin: 0;
	background-size: contain;
	padding-left: 0px;
	padding-top: none;
	padding-bottom: none;
}
.shield{
	
}
.subhead{
	padding-left: 5vw;
}
.sub{
	padding-left: 5vw;
}
}


@media only screen and (max-width: 320px){
.header{
	position: absolute;
    top: 0px;
    left: 0px;
	font-size: 12px;
	font-family: Felix Titling;
}
.subhead{
	font-size: 30px;
	text-decoration: underline;
	text-decoration-style: solid 5px;
	font-family: goudy old style;
}
.sub{
	font-size: 17px;
	font-weight: bold;
	font-family: goudy old style;
}
p{
	position: relative;
	padding-left: 0vw;
	padding-right: 15px;
	width: 5vw;
	font-family: candara;
	font-size: 12px;
}
img{

	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10vw;
	max-width: 300px;
	max-height: auto;
	text-overflow: none;
	float: none;
	min-width: auto;
	min-height: auto;
}
.decal{
	position: relative;
	width: 99vw;
	float: left;
	border-style: none;
	max-width: none;
	min-width: none;
	margin: 0;
	background-size: contain;
	padding-left: 0px;
	padding-top: none;
	padding-bottom: none;
}
.subhead{
	padding-left: 0vw;
}
.sub{
	padding-left: 0vw;
}
}



