*{
	
	position: relative;
}
hr{
	transform: rotate(90deg);
	float: left;
	padding-left: 1500px;
	width: 100px;
	position: fixed;
	border-style: solid;

}
.hr{
	transform: rotate(90deg);
	width: 1000px;
	position: fixed;
	border-style: solid;
}
h1{
	font-family: 'Anton', sans-serif;
	padding-left: 250px;
	padding-top: 50px;
	
}
h3{
	font-family: 'Anton', sans-serif;
	padding-left: 250px;
	
}
h6{
	font-family: 'Noto Serif JP', sans-serif;
	text-align: center;
}
body{
	background-color: #ce6e42;
}
.subpoem{
	
	padding-left: 250px;
	font-family: 'Exo 2', sans-serif;
	padding-top: 50px;
	padding-bottom: 50px;
}
.poem{
	
}
.poems{
	
}
.castle{
	
}
p{
	
	padding-top: 10px;
	
	font-family: 'Ubuntu', sans-serif;
	text-indent: 35px;
	padding-left: 250px;
	padding-right: 250px;
	line-height: 25px;
	letter-spacing: .5px;
}